@mixin ttl() {
    text-align: right;
    font-size: $ttl;

    @include mq('sp') {
        font-size: 45px;
    }

    span {
        display: block;
        font-size: $txt-min;
        font-family: $font-tcm;
    }
}
